* {
    margin: 0;
}
/* Tag styles */
/* Class styles */

.main-title {
    /* Mesma altura da bg img pra não perder a qualidade */
    height: 600px;
    width: 50%;
    padding-left: 5%;
    text-align: center;
    position: relative;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #ff4800;
}

.main-title-centralizer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.div-section {
    overflow: auto;
}

.section-img {
    float: right;
    width: 400px;
}

/* ID styles */

#main-header {
    background-image: url("pics/main-header-stomatopoda.png");
    background-size: 100% 600px;
}

#main-sumary {
    background-color: #ff4800;
}

#main-content {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

#aside-content {
    float: right;
}

/* Inherit styles */

#main-sumary li {
    display: inline-block;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    width: 30%;
    text-align: center;
    text-decoration: underline;
}

#main-sumary a:link {
    color: #0c4344cc;
}

#main-sumary a:visited {
    color:  #0c4344cc;
}

#main-sumary a:hover {
    background-color: #24c2c581;
}

#main-content p {
    text-indent: 50px;
}