body {
    font-size: 16px;
}
h1 {
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-align: center;
}
p {
    font-size: 3em;
    font-weight: 600;
}
ul {
    font-style: italic;
    line-height: 30px;
}
.bg {
    background-color: rgb(250,235,215);
}
.sim {
    text-decoration: underline overline;
}
#yellow {
    background-color: rgb(240,230,140);
}
#red {
    background-color: rgb(220,20,60);
}
#brown {
    background-color:rgb(160,82,45);
}